*.DS_Store
/public/*
/temporary/cache/*
/temporary/session/*
/temporary/log/main.log
/temporary/log/install.log
/temporary/log/error.log
/temporary/session/scaffold/application/modules/*
/temporary/session/scaffold/application/themes/*
/temporary/session/scaffold/*
/application/settings/database.php