/* $Id:core.js 2010-08-11 9:40:21Z SocialEngineAddOns Copyright 2009-2010 BigStep Technologies Pvt. Ltd. $ */
/*icons*/
.seaocore_icon_add{
  background-image:url(~/application/modules/Seaocore/externals/images/add.png);
}
.seaocore_icon_edit{
  background-image:url(~/application/modules/Seaocore/externals/images/edit.png);
}
.seaocore_icon_delete{
  background-image:url(~/application/modules/Seaocore/externals/images/delete.png);
}
.seaocore_icon_create{
  background-image:url(~/application/modules/Seaocore/externals/images/add.png);
}
.seaocore_icon_share{
  background-image:url(~/application/modules/Seaocore/externals/images/share.png);
}
.seaocore_icon_report{
  background-image:url(~/application/modules/Seaocore/externals/images/report.png);
}
.seaocore_icon_featured{
  background-image:url(~/application/modules/Seaocore/externals/images/featured.png);
}
.seaocore_icon_unfeatured{
  background-image:url(~/application/modules/Seaocore/externals/images/unfeatured.png);
}
.seaocore_icon_sponsored{
  background-image:url(~/application/modules/Seaocore/externals/images/sponsored.png);
}
.seaocore_icon_approved{
  background-image:url(~/application/modules/Seaocore/externals/images/approved.gif);
}
.seaocore_icon_disapproved{
  background-image:url(~/application/modules/Seaocore/externals/images/disapproved.gif);
}
.seaocore_icon_direction{
	background-image:url(~/application/modules/Seaocore/externals/images/direction.png);
}
.notification_type_replied, .activity_icon_reply_seaocore_reply, .notification_type_replied_replied{
	background-image:url(~/application/modules/Seaocore/externals/images/replies.png);
}
.notification_type_follow_sitepage_page, .activity_icon_follow_sitepage_page{
	background-image:url(~/application/modules/Seaocore/externals/images/icons/follow.png) !important;
}
/* css for licence key popup here */
#global_page_seaocore-index-index .global_form > div > div > h3 + div.form-elements{
	margin-top:10px !important;
}
#global_page_seaocore-index-index .settings .form-label{
	clear:none !important;
	text-align:left !important;
}
/* css for layout top start here */
.layout_top .layout_middle{
	min-height:5px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}
/* css for layout top end here */
/* Common CSs */
.dnone                   {display: none !important;}
.dblock                  {display: block !important;}
.fleft                   {float:left !important;}
html[dir="rtl"] .fleft   {float:right !important;}
.fright                  {float:right !important;}
html[dir="rtl"] .fright  {float:left !important;}
.clr, .clear             {clear:both !important;}
.pabsolute               {position:absolute;}
.prelative               {position:relative;}
.bold                    {font-weight:bold;}
.seaocore_txt_light      {color:$theme_font_color_light;}
.b_light                 {border-color:$theme_border_color}
.b_medium                {border-color:$theme_border_medium_color}
.b_dark                  {border-color:$theme_border_dark_color}
.o_hidden                {overflow: hidden;}
.seaocore_icon {
	display: inline-block;
	height: 16px;
	width: 16px;
}
/*CSS FOR ALL SIDEBAR WIDGETS START HERE*/
.seaocore_search_criteria{
	margin-bottom:15px;
}
ul.seaocore_sidebar_list{
  +foreground;
  +rounded;
  padding:5px;
}
ul.seaocore_sidebar_list li{
  clear:both;
  overflow:hidden;
  padding:3px 5px 3px 5px;
}
ul.seaocore_sidebar_list li > a{
	float:left;
	margin-right:6px;
}
ul.seaocore_sidebar_list li div a{
	float:none;
}
ul.seaocore_sidebar_list .list_thumb{
  float:left;
  display:block;
  width:48px;
  height:48px;
	vertical-align:top;
}
.seaocore_sidebar_list_info{
  overflow:hidden;
}
.seaocore_sidebar_list_title{
  font-weight:bold;
}
.seaocore_sidebar_list_details{
  font-size:.8em;
  color:$theme_font_color_light;
	margin-top:3px;
}
.seaocore_sidebar_list_details .rating_star_generic{
	float:left;
	margin:2px;
}
ul.seaocore_sidebar_list .more_link,
.seaocore_sidebar_more_link{
	float:right !important;
	font-size:11px;
}
.seaocore_sidebar_more_link .seaocore_sidebar_loader_img{
	margin-right:25px;
	width:12px;
}
/*CSS FOR ALL SIDEBAR WIDGETS END HERE*/
/*CSS FOR ALL LISTINGS SATRT HERE*/
ul.seaocore_browse_list{
  clear:both;
}
ul.seaocore_browse_list > li{
  clear:both;
  padding:0px 10px 0 10px;
	margin-bottom:5px;
  overflow:hidden;
}
li.lists_highlight{
	background: url( ~/application/modules/Seaocore/externals/images/blk-bg.png) repeat $theme_foreground_background_color;
	border:1px solid $theme_foreground_border_color !important;
	+rounded;
	position:relative;
	padding:10px !important;
}
ul.seaocore_browse_list > li + li{
  padding-top:10px;
  border-top-width:1px;
	margin-top:10px;
}
li.lists_highlight + li{
	border-top-width:0;
}
.seaocore_browse_list_photo{
  float:left;
  overflow:hidden;
  margin-right:8px;
}
.seaocore_browse_list_photo img{
  width:120px;
}
.seaocore_browse_list_options{
  float:right;
  overflow:hidden;
  padding-left:20px;
	width:150px;
}
.seaocore_browse_list_options > a{
	clear:both;
	display:block;
	margin:5px;
	font-size:.8em;
	padding-top:2px;
	padding-bottom:2px;
	line-height: inherit !important;
}
.seaocore_browse_list_info{
  overflow:hidden;
}
.seaocore_browse_list_info_title{
	font-weight:bold;
	overflow:hidden;
}
.seaocore_browse_list_info_title h3{
	background:none;
	font-weight:bold;
	margin:0;
	overflow:hidden;
	padding:0;
}
.seaocore_browse_list_info_title p{
  margin:0px;
	overflow:hidden;
	font-size:1.3em;
	margin-bottom:5px;
}
.seaocore_browse_list_info_title .seaocore_title{
	overflow:hidden;
	font-weight:bold;
}
ul.seaocore_browse_list .seaocore_browse_list_info_title span{
	float:right;
	margin-right:5px;
	margin-left:5px;
}
ul.seaocore_browse_list span.list_rating_star span{
	float:left;
	margin:2px;
}
.seaocore_browse_list_info_date{
  font-size:.8em;
  color:$theme_font_color_light;
	margin-top:3px;
}
.seaocore_browse_list_info_stat{
	font-size:11px;
	margin-top:3px;
}
.seaocore_browse_list_info_blurb{
  margin-top:5px;
}
.seaocore_browse_list_info_blurb.seaocore_icon_done span,
.seaocore_browse_list_options.seaocore_icon_done span{
	background-image:url(~/application/modules/Seaocore/externals/images/icons/follow.png);
	background-repeat:no-repeat;
	padding-left:20px;
}
.seaocore_pagination{
	margin-top:10px;
	clear:both;
}
.seaocore_pagination > div{
	margin:0px;
} 
.seaocore_list_featured_label {
	background-image: url(~/application/modules/Seaocore/externals/images/featured-label.png);
	height: 75px;
	left: 0;
	position: absolute;
	top: 0;
	width: 75px;
	z-index: 1;
}
.seaocore_list_sponsored_label {
	clear: both;
	color: #FFFFFF;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 3px;
	padding: 5px;
	text-align: center;
}
/*CSS FOR ALL LISTINGS END HERE*/
/*PROFILE PAGES LISTS START HERE*/
.seaocore_add a{
	line-height:18px;
  margin-right:15px;
	margin-bottom:10px;
}
.seaocore_profile_list{
	clear:both;
}
.seaocore_profile_list > li{
	overflow:hidden;
	padding:0px 5px 10px;
}
.seaocore_profile_list > li + li{
	border-top-width:1px;
	padding-top:10px;
}
.seaocore_profile_list .seaocore_profile_list_photo{
	float:left;
	margin-right:8px;
	overflow:hidden;
	width:100px;
}
.seaocore_profile_list .seaocore_profile_list_photo img{
	max-width:90px;
}
.seaocore_profile_list .seaocore_profile_list_options{
	float:right;
	overflow:hidden;
	padding-left:20px;
	width:150px;
}
.seaocore_profile_list .seaocore_profile_list_options a{
	clear:both;
	display:block;
	margin:5px;
	font-size:.8em;
	padding-top:2px;
	padding-bottom:2px;
}
.seaocore_profile_list .seaocore_profile_list_info{
	overflow:hidden;
}
.seaocore_profile_list .seaocore_profile_list_title p{
	font-weight:bold;
	overflow:hidden;
	margin-bottom:5px;
}
.seaocore_profile_list .seaocore_profile_list_title span{
	float:right;
	margin-left:5px;
}
.seaocore_profile_list .seaocore_profile_list_title span.list_rating_star span{
	float:left;
	margin:2px;
}
.seaocore_profile_list .seaocore_profile_info_date{
	font-size:0.8em;
	color:$theme_font_color_light;
}
.seaocore_profile_list .seaocore_profile_info_blurb{
	margin-top:5px;
}
.seaocore_profile_list_more{
	clear:both;
	margin-top:15px;
}
/*PROFILE PAGES LISTS START HERE*/
/*CSS FOR MEMBER POPUP START HERE*/
.seaocore_members_popup{
	width:560px;
	height:330px;
	margin:10px 0 0 10px;
	float:left;
	padding:5px;
	border:2px solid $theme_tag_background_color;
}
.seaocore_members_popup_notbs .seaocore_members_popup_content{
	height:290px;
}
.seaocore_members_popup .top{
	+rounded(3px);
	+foreground;
}
.seaocore_members_popup a{
	outline:none;
}
.seaocore_members_popup .heading{
	padding:7px;
	margin:0;
	font-size:15px;
	font-weight:bold;
}
.seaocore_members_popup .seaocore_members_search_box{
	width:540px;
	padding:5px;
	margin:0px 0;
	overflow:hidden;
}
.seaocore_members_popup .top .seaocore_members_search input,
.seaocore_members_popup .seaocore_members_search_box input{
 	background-image:url(~/application/modules/Seaocore/externals/images/search.png);
	background-position:0 50%;
	padding-left:17px;
	width:110px;
	background-repeat:no-repeat;
}
.seaocore_members_popup .seaocore_members_search_box .link{
	float:left;
}
.seaocore_members_popup .seaocore_members_search_box .link a{
  +rounded;
  display:block;
  padding:3px 5px;
  font-weight:bold;
  text-decoration:none;
  color:$theme_buttontabs_font_color;
  background-color:$theme_buttontabs_background_color;
	float:left;
	margin-right:10px;
}
.seaocore_members_popup .seaocore_members_search_box a.selected{
  background-color:$theme_buttontabs_background_color_active;
  color:$theme_buttontabs_font_color_active;
}
.seaocore_members_popup_content{
	height:252px;
	overflow:auto;
	width:550px;
	margin-top:5px;
	border-style:solid;
	clear:both;
}
.seaocore_members_popup_content .item_member{
	width:165px;
	float:left;
	padding:5px;
}
.seaocore_members_popup_content .item_member_list{
	overflow:hidden;
	border-bottom:1px solid $theme_border_color;
	padding:5px;
	clear:both;
}
.seaocore_members_popup_content .item_member .item_member_thumb,
.seaocore_members_popup_content .item_member_list .item_member_thumb{
	float:left;
	margin-right:10px;
}
.seaocore_members_popup_content .item_member .item_member_thumb img,
.seaocore_members_popup_content .item_member_list .item_member_thumb img{
	width:48px;
	height:48px;
}
.seaocore_members_popup_content .item_member_list .item_member_option{
	float:right;
	margin-left:10px;
	width:120px;
}
.seaocore_members_popup_content .item_member_list .item_member_option a{
	font-size:11px;
	clear:both;
	line-height:16px;
	float:left;
	margin-bottom:3px;
}
.seaocore_members_popup_content .item_member .item_member_details,
.seaocore_members_popup_content .item_member_list .item_member_details{
	overflow:hidden;
}
.seaocore_members_popup_content .item_member .item_member_name,
.seaocore_members_popup_content .item_member_list .item_member_name{
	font-weight:bold;
	margin:0 0 5px;
}
.seaocore_members_popup_content .item_member .item_member_stat,
.seaocore_members_popup_content .item_member_list .item_member_stat{
	font-size:0.8em;
	color:$theme_font_color_light;
	float:left;
}
.seaocore_members_popup_paging{
	margin:0;
	clear:both;
	float:left;
	width:100%;
}
.seaocore_members_popup_paging .paginator_next,
.seaocore_members_popup_paging .paginator_previous{
	width:100%;
	margin:0;
	padding:0;
}
.seaocore_members_popup_paging .paginator_previous a{
	border-bottom-width:1px;
	color:#3B5998;
	display:block;
	font-size:13px;
	font-weight:bold;
	height:33px;
	line-height:33px;
	text-align:center;
}
.seaocore_members_popup_paging .paginator_next a{
	color:#3B5998;
	display:block;
	font-size:13px;
	font-weight:bold;
	height:33px;
	line-height:33px;
	text-align:center;
}
.seaocore_members_popup_paging .paginator_previous a:hover,
.seaocore_members_popup_paging .paginator_next a:hover{
	background-color:$theme_foreground_background_color;
}
.seaocore_members_popup_bottom{
	width:560px;
	margin:0px 0 0 10px;
	float:left;
	padding:5px;
	text-align:right
}
.seaocore_members_popup_bottom button{
	padding:5px;
}
/*CSS FOR MEMBER POPUP END HERE*/
.list_slideshow_mask{
	position:relative;
	overflow:hidden;
	width:510px;
	height:175px;
	margin:5px;
}
.list_categories_list_col{
	margin:0 5px 0 0px;
	float:left;
	width:32%;
}
.list_categories_list{
	float:left;
	margin:0 0 10px;
	width:100%;
}
ul.layout_birthday_birthdaycalendar_widget{
  +foreground;
  +rounded;
  padding:5px;
  overflow:auto;
	clear:both;
}
div.birthday_calendar td div.day{
	color:#808080;
	font:9px Arial,Helvetica,sans-serif;
	height:15px;
	text-align:right;
	vertical-align:bottom;
	width:21px;
	padding:5px 3px 0 0;
}
.cmad_hr_link{
	float:right;
}
.caab_list{
	float:left;
}
.cmad_form_left{
	float:left;
	overflow:auto;
}
.cmaddis_preview_wrapper{
	float:left;
	margin-left:10px;
}
ul.groupdocument_browse > li .groupdocument_browse_options{
  float:right;
  overflow:hidden;
  padding-left:20px;
}
.layout_Userconnection_userhome_userconnection > ul{
  +foreground;
  +rounded;
	padding:0px !important;
}
.layout_Userconnection_userhome_userconnection{
	padding-left:0 !important;
	padding-right:0 !important;
	margin-bottom:15px;
}
.user-network{
 background-image:url(~/application/modules/Seaocore/externals/images/userconnections-mynetwork.png);
 background-repeat:no-repeat;
}
.usernetwork-1stdegree{
	margin:53px 0 0 0;
	width:57px;
	float:left; 
	text-align:center;
	font-size:12px;
	font-weight:bold;
	padding:0;
	display:inline;
}
.ucp-users{
	float:left;
}
#peo_list_box .list{
	float:left;
	margin:10px;
	width:25%;
	height:60px;
}
.layout_poke_list_pokeusers ul li .poke_icon{
	float:left;
	margin-right:3px;
	padding-top:3px;
}
.layout_poke_list_pokeusers ul li .users_poked{
	overflow:hidden;
}
.layout_Facebooksepage_facebooksepage_userfeed .fbconnect_userfeed_item .profilepic{
	margin-right:10px;
	float:left;
}
#global_page_user-index-home{display:block !important;}
#facefile .white,
.facebooksepage_invite_friend .white,
.facebooksepage_userfriend .white,
.layout_Facebooksepage_facebooksepage_userfeed .white,
.layout_Facebooksepage_facebooksepage_invitefriend .white{
	border:1px solid #f1f2f1;
	padding:5px;
	line-height:14px;
	vertical-align:top;
	font-size:11px;
	color:#666;
	overflow:auto;
	clear:both;
}
#facefile .white a.fb_button,
.facebooksepage_invite_friend .white a.fb_button,
.facebooksepage_userfriend .white a.fb_button,
.layout_Facebooksepage_facebooksepage_userfeed .white a.fb_button,
.layout_Facebooksepage_facebooksepage_invitefriend .white a.fb_button{
	float:left;
	margin:0px 10px 5px 0px;
}
/*FEATURED SLIDSHOW START HERE*/
.seaocore_slideshow_wrapper,
.featured_slideshow_wrapper{
	overflow:auto;
	border:5px solid $theme_form_border_color;
  background-color:$theme_form_background_color;
	margin-bottom:15px;
}
.seaocore_slideshow_mask,
.featured_slideshow_mask{
	position:relative;
	overflow:hidden;
	width:510px;
	height:175px;
	margin:5px;
}
.seaocore_slideshow_advanced_box,
.featured_slideshow_advanced_box{
	position:absolute;
}
.seaocore_slideshow_advanced_box .seaocore_slidebox,
.featured_slideshow_advanced_box .featured_slidebox{
	width:510px;
	float:left;
	height:175px;
}
.seaocore_slidebox h5,
.featured_slidebox h5{
	padding:0 0 5px 0;
	margin:0 !important;
	font-size:17px;
}
.seaocore_slidebox h5 a,
.featured_slidebox h5 a{
	color:$theme_font_color;
}
.seaocore_slidshow_img,
.featured_slidshow_img{
	float:left;
	height:170px;
	max-width:200px;
	min-width:150px;
	overflow:hidden;
	margin-right:10px;
	position:relative;
	text-align:center;
}
.seaocore_slidshow_img img,
.featured_slidshow_img img{
	max-width:200px !important;
	max-height:170px !important;
	border:none !important;
}
.seaocore_slidshow_content,
.featured_slidshow_content{
	overflow:hidden;
}
.seaocore_slidshow_info,
.featured_slidshow_info{
	font-size:11px;
	color:$theme_font_color_light;
}
.seaocore_slidshow_content > p,
.featured_slidshow_content > p{
	margin-top:5px;
}
.seaocore_slideshow_option_bar,
.featured_slideshow_option_bar{
	border:none;
	padding:5px 0;
	overflow:auto;
	background:url(~/application/modules/Seaocore/externals/images/blk-bg.png) $theme_foreground_background_color;
}
.seaocore_slideshow_option_bar div,
.featured_slideshow_option_bar div{
	float:right;
	margin-right:4px;
}
.seaocore_slideshow_controllers,
.featured_slideshow_controllers{
	background-color:$theme_button_background_color;
	background-image:url(~/application/modules/Seaocore/externals/images/controller-options.png) ;
	width:18px;
	height:18px;
	display:block;
	padding:0px !important;
	float:left;
	margin:1px;
}
.seaocore_slideshow_controllers:hover,
.featured_slideshow_controllers:hover{
	background:$theme_button_background_color_hover;
	background-image:url(~/application/modules/Seaocore/externals/images/controller-options.png) ;
}
.seaocore_slideshow_controllers-play,
.featured_slideshow_controllers-play{
	background-position:54px 0 !important;
}
.seaocore_slideshow_controllers-stop,
.featured_slideshow_controllers-stop{
	background-position:36px 0 !important;
}
.seaocore_slideshow_controllers-playback,
.featured_slideshow_controllers-playback{
	background-position:72px 0 !important;
}
.seaocore_slideshow_controllers-prev,
.featured_slideshow_controllers-prev{
	background-position:0px 0 !important;
}
.seaocore_slideshow_controllers-next,
.featured_slideshow_controllers-next{
	background-position:108px 0 !important;
}
.seaocore_slideshow_option_bar .seaocore_slideshow_pagination,
.featured_slideshow_option_bar .featured_slideshow_pagination{
	float:right;
	margin:3px 5px 0 0;
	color:$theme_font_color_light;
}
.seaocore_slideshow_option_bar .seaocore_slideshow_view_link,
.featured_slideshow_option_bar .featured_slideshow_view_link{
	font-weight:bold;
	font-size:11px;
	margin-left:5px;
	padding-top:5px;
	float:left;
}
.seaocore_slideshow_option_bar .recipe_view_link,
.featured_slideshow_option_bar .recipe_view_link{
	font-weight:bold;
	font-size:11px;
	margin-left:5px;
	padding-top:5px;
	float:left;
}
/*FEATURED SLIDSHOW END HERE*/
/*gutter view page start here*/
.seaocore_gutter_photo{
	+foreground;
	+rounded;
	margin-bottom:15px;
	overflow:hidden;
	padding:7px;
	text-align:center;
}
.seaocore_gutter_photo img{
	margin:0 auto;
	width:99%;
}
.seaocore_gutter_title{
	font-size:17px;
	display:block;
}
.seaocore_gutter_blocks{
  margin-bottom:15px;
}
.seaocore_gutter_blocks .global_form_box{
	padding:5px;
}
.seaocore_gutter_blocks input[type="text"]{
	width:170px;
}
.seaocore_gutter_view{
	overflow:hidden;
}
.seaocore_gutter_view .seaocore_gutter_view_title{
	margin-bottom:5px;
	overflow:hidden;
}
.seaocore_gutter_view .seaocore_gutter_view_title h3{
  margin-bottom:1px;
	font-size:1.5em;
	letter-spacing:normal;
	background:none;
	padding:0px;
}
.seaocore_gutter_view .seaocore_gutter_view_stat{
  font-size:8pt;
  margin-bottom:5px;
  color:$theme_font_color_light;
	overflow:hidden;
}
.seaocore_gutter_view .seaocore_gutter_view_body{
  padding:5px 0 0 0;
	clear:both;
	line-height:1.5em;
}
/*gutter view page end here*/
/*photo lightbox css satrt here*/
.photo_lightbox_right,
.photo_lightbox_white_content{
	background-color:$theme_body_background_color !important;
}
.seaocore_comment_box{
	background-color:$theme_body_background_color;
	padding:2px 7px; 
	border:1px solid $theme_border_medium_color;
	cursor:text;
}
/*photo lightbox css end here*/
/*info tooltip css satrt here*/
.info_tip_content_wrapper{
	background-color:$theme_body_background_color;
}
.info_tip_content_bottom{
	background-color:$theme_border_color;
	border-top:1px solid $theme_border_medium_color;
}
.intu_list #meassge_show,
.tip_main_body_stat,
.info_tip_content_wrapper .tipcl{
	color:$theme_font_color_light;
}
/*info tooltip css end here*/
/*LIKE BUTTON CSS START HERE*/
.layout_seaocore_like_button {
	float: left;
	margin:0 10px 5px;
}
[dir="rtl"] .layout_seaocore_like_button{
	float:right;
}
.seaocore_like_button a{
	background-image:url(~/application/modules/Seaocore/externals/images/like/like_button_bg.png) !important;
	background-color: #FFFFFF;
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 1px solid #CECECE;
	border-radius: 3px 3px 3px 3px;
	clear: both;
	float: left;
	font-size: 12px;
	font-weight: bold;
	outline: medium none;
	padding: 7px;
}
.seaocore_like_button a:hover{
	text-decoration:none;
	background-image:url(~/application/modules/Seaocore/externals/images/like/like_button_hover_bg.png) !important;
}
.seaocore_like_button a i.seaocore_like_thumbup_icon,
.seaocore_like_button a i.seaocore_like_thumbdown_icon{
	height:13px;
	width:13px;
	float:left;
	margin-right:5px;
}
.seaocore_like_button a span{
	float:left;
}
.seaocore_like_button a i.seaocore_like_thumbup_icon{
	background-image:url(~/application/modules/Seaocore/externals/images/like/thumb-up.png);
}
.seaocore_like_button a i.seaocore_like_thumbdown_icon{
	background-image:url(~/application/modules/Seaocore/externals/images/like/thumb-down.png);
}
/*LIKE BUTTON CSS END HERE*/
/*PROFILE TOP PHOTO STRIP START HERE*/
.seaocore_photo_strips{
	clear:both;
	display:block;
	margin:0px 0 10px;
	width:100%;
  overflow:hidden;
}
.seaocore_photo_strips div.thumb_photo{
	width:100px;
	height:70px;
	overflow:hidden;
	margin:2px;
	float:left;
	background:#CCCCCC;
	position:relative;
}
.seaocore_photo_strips div.thumb_photo a.thumb_img{
	width:100px;
	height:70px;
	float:left;
	background-repeat:no-repeat;
	background-position:50%;
}
.seaocore_photo_strips div.thumb_photo .photo_hide{
	position:absolute;
	right:3px;
	top:3px;
	float:left;
	padding:0;
	display:none;
}
.seaocore_photo_strips div.thumb_photo:hover .photo_hide{
	display:block;
}
.seaocore_photo_strips div.thumb_photo .photo_hide a{
	height:11px;
	width:11px;
	background-color:#222;
	background-position:right;
	float:left;
  background-image:url(~/application/modules/Seaocore/externals/images/close.png) !important;
}
.seaocore_photo_strips div.thumb_photo .photo_hide a:hover{
	background-position:left;
}
/*PROFILE TOP PHOTO STRIP END HERE*/
/*Member Tooltip start here*/
.seaocore_member_tooltip_outer{
	margin-left:-85px;
	margin-top:50px;
	position:absolute;
	z-index:100;
}
.seaocore_member_tooltip{
	display:block;
	background:#222;
	color:#fff;
	text-align:left;
	padding:5px;
	width:200px;
	float:left;
}
.seaocore_member_tooltip_content{
	width:190px;
	float:left;
	background:#FFFFFF;
	padding:5px;
	position:relative;
}
.seaocore_member_tooltip_arrow{
	position:absolute;
	width:100%;
	text-align:center;
	top:-18px;
}
.seaocore_member_tooltip_arrow img{
	border:none;
	width:13px;
	height:9px;
	float:none;
}
.seaocore_member_tooltip_content .item_member{
	overflow:auto;
	padding:3px 0;
}
.seaocore_member_tooltip_content .item_member_thumb{
	float:left;
	margin-right:5px;
}
.seaocore_member_tooltip_content .item_member_detail{
	overflow:hidden;
}
.seaocore_member_tooltip_content .item_member_title{
	font-weight:bold;
}
.seaocore_member_tooltip_content .item_member_stat .buttonlink{
	font-size:11px;
	font-weight:normal;
	clear:both;
	line-height:16px;
}
.seaocore_member_tooltip_content .item_member_detail a{
	color:#4E81A1 !important;
}
/*Member Tooltip end here*/
/* SEAOCORE TABBED WIDGETS START HERE */
.layout_seaocore_sidebar_tabbed_widget{
  +foreground;
  +rounded;
  padding:5px 0;
	overflow:hidden;
	margin-bottom:15px;
}
.seaocore_tabs_alt{
	background-color:$theme_tabs_background_color;
	background-image:none;
	+rounded(3px, false, false, true, true);
	margin:0px 0px 5px 0px;
	padding-top:2px;
	-moz-user-select:none;
	-webkit-user-select:none;
}
.seaocore_tabs_alt > ul{
	margin:0px;
	text-align:left;
	border-bottom:1px solid $theme_tabs_border_color;
	padding:0 5px;
	overflow:hidden;
}
.seaocore_tabs_alt > ul > li{
	padding:0px;
	float:left;
	margin-right:2px;
}
.seaocore_tabs_alt > ul > li.active > a{
	+rounded(3px, false, false, true, true);
	border:1px solid $theme_tabs_border_color;
	border-bottom:none;
	background-color:$theme_tabs_background_color_active;
	color:$theme_tabs_font_color_active;
	top:1px;
	padding:4px 4px 5px;
}
.seaocore_tabs_alt > ul > li > a{
	padding:5px;
	text-decoration:none;
	color:$theme_tabs_font_color;
	border-bottom:none;
	outline:none;
	font-size:11px;
	float:left;
}
.seaocore_tabs_alt > ul > li > a:hover{
	background:$theme_tabs_background_color_hover;
	color:$theme_tabs_font_color_active;
	padding:4px 4px 5px;
	+rounded(3px, false, false, true, true);
	border:1px solid $theme_tabs_border_color_hover;
	border-bottom:none;
}
.layout_seaocore_sidebar_tabbed_widget li.seaocore_sidebar_listing{
	clear:both;
	overflow:hidden;
	padding:3px 5px 3px 5px;
}
.layout_seaocore_sidebar_tabbed_widget div.seaocore_thumb{
  float:left;
  display:block;
	margin-right:6px;
}
.layout_seaocore_sidebar_tabbed_widget div.seaocore_thumb img{
	width:48px;
	height:48px;
}
.layout_seaocore_sidebar_tabbed_widget .seaocore_info{
	overflow:hidden;
}
.layout_seaocore_sidebar_tabbed_widget .seaocore_title{
	font-weight:bold;
}
.layout_seaocore_sidebar_tabbed_widget .seaocore_stats{
	color:$theme_font_color_light;
	font-size:.8em;
	float:left;
	margin-top:7px;
}
.layout_seaocore_sidebar_tabbed_widget li.seaocore_more{
	padding:3px 10px;
	overflow:hidden;
}
/* SEAOCORE TABBED WIDGETS END HERE */
/* SEAOCORE VIEW MORE AND LOADING START HERE */
.seaocore_view_more, .seaocore_loading{
	background-color:$theme_border_medium_color;
	padding:5px;
	text-align:center;
	clear:both;
	text-align:center;
	margin-bottom:10px;
	cursor:pointer;
}
.seaocore_loading img, .seaocore_view_more img{
	vertical-align:middle;
	margin-right:5px;
}
.seaocore_view_more a{
	background-position: left center;
	background-repeat: no-repeat;
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
	padding-left: 21px;
}
.seaocore_tip{
	font-size:12px;
	margin:10px 0 0;
	padding:5px 0;
	text-align:center;
	background-color:$theme_border_color;
	border:1px solid $theme_border_medium_color;
}
/* SEAOCORE VIEW MORE AND LOADING START HERE */
/*SEAOCORE AUTOSUGGEST START HERE*/
ul.seaocore-autosuggest li.autocompleter-choices img{
	height:auto !important;
	width:auto !important;
	max-height:32px !important;
	max-width:32px !important;
}
/*SEAOCORE AUTOSUGGEST END HERE*/

/* Seaocore popup start here */
.seaocore_popup{
	width:702px;
	margin:10px;
}
.seaocore_popup_top{
	overflow:hidden;
	margin-bottom:10px;
}
.seaocore_popup_top .seaocore_popup_title{
	font-size:14px;
	font-weight:bold;
}
.seaocore_popup_top .seaocore_popup_des{
	margin-top:5px;
	clear:both;
}
.seaocore_popup_options{
 +foreground;
	margin-bottom:10px;
	padding:5px;
	clear:both;
	overflow:hidden;
}
.seaocore_popup_options_left{
	float:left;
	margin-right:15px;
}
.seaocore_popup_options_left input[type="text"]{
	width:170px;
}
.seaocore_popup_options_right{
	float:right;
	margin-left:15px;
}
.seaocore_popup_searchbox{
	width:170px;
	background-image:url(~/application/modules/Seaocore/externals/images/search.png);
	background-position:right;
	padding-right:18px !important;
	background-repeat:no-repeat;
}
.seaocore_popup_options_tbs{
	float:right;
	line-height:20px;
}
.seaocore_popup_options_tbs a{
	margin-left:10px;
	float:left;
}
.seaocore_popup_options_tbs a.selected{
	+rounded(3px);
	display:inline-block;
	background-color:$theme_tag_background_color;
	font-weight:bold;
	display:inline-block;
	float:left;
	padding:0 5px;
	font-size:11px;
}
.seaocore_popup_options_middle{
	overflow:hidden;
	text-align:center;
}
.seaocore_item_list_popup > div > form{
	padding:0px;
	clear:both
}
.seaocore_popup_content{
	height:330px;
	overflow:auto;
	width:700px;
	margin-bottom:10px;
	border-width:1px;
	border-style:solid;
}
.seaocore_popup_content > div.seaocore_popup_content_inner{
	width:682px;
	margin:0 auto;
}
.seaocore_popup_items > a{
	height:54px;
	width:160px;
	margin:2px;
	float:left;
	padding:3px;
	overflow:hidden;
}
.seaocore_popup_items > a:hover, .seaocore_popup_items > a.selected{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	+foreground;
	border-width:1px;
	border-style:solid;
	padding:2px;
	text-decoration:none;
}
.seaocore_popup_items > a > span{
	background-color:#FFFFFF;
	background-position:2px;
	background-repeat:no-repeat;
	float:left;
	width:48px;
	height:48px;
	border:1px solid $theme_photo_border_color;
	padding:2px;
	position:relative;
	margin-right:5px;
}
.seaocore_popup_items a.selected > span, .seaocore_popup_items > a:hover > span{
	border:1px solid $theme_photo_border_color_hover;
}
.seaocore_popup_items > a > span > img, .seaocore_popup_items a.selected > span > img, .seaocore_popup_items > a:hover > span > img{
	border:none;
	padding:0px !important;
}
.seaocore_popup_items > a.selected > span > span{
	background-image:url(~/application/modules/Seaocore/externals/images/tick.png);
	height:13px;
	width:13px;
	position:absolute;
	left:0;
	bottom:0;
}
.seaocore_popup_items > a > span + p{
	overflow:hidden;
	font-weight:bold;
	font-size:11px;
}
.seaocore_item_list_popup_loader{
	width:32px;
	margin:144px auto 0;
}
p.aaf_feed_error{
	font-size:8pt;
	color:#FF0000;
}
.seaocore_item_list_popup_more{
	border:1px solid $theme_foreground_border_color;
	clear:both;
	cursor:pointer;
	padding:5px;
	margin:5px;
	text-align:center;
}
.seaocore_item_list_popup_more:hover{
 background-color:$theme_foreground_background_color;
}
.seaocore_item_list_popup_more a{
	background-image:url(~/application/modules/Core/externals/images/viewmore.png);
}
.seaocore_item_list_popup_more img{
	margin-right:5px;
	vertical-align:middle;
}
.popup_btm{clear:both;}
.seaocore_popup .popup_btm .pagination{
	margin-top:5px;
	float:right;
	margin-right:10px;
}
.seaocore_popup .popup_btm .pagination div{
	margin:0 10px;
}
/*User Contacts Invite */
.seaocore_user_contacts{
	float:left;
	clear:both;
	width:750px;
	margin-top:10px;
	border:1px solid $theme_border_dark_color;
}
.seaocore_user_contacts_top{
	overflow:hidden;
	border-bottom:1px solid $theme_border_dark_color;
	overflow:hidden;
}
.seaocore_user_contacts_top > div{
	float:left;
	padding:5px;
}
.seaocore_user_contacts_list{
	max-height:300px;
	overflow:auto;
}
.seaocore_user_contacts_list tr + tr{ 
	border-top:1px dashed $theme_border_dark_color;
}
.seaocore_user_contacts_list td{
	padding:5px;
}
.seaocore_user_contacts_buttons{
	clear:both;
	margin:10px 0 0 5px;
	float:left;
	width:70%;
}
.seaocore_user_contacts_buttons button.disabled{background-color:#868686;}
.seaocore_user_contacts_buttons button.disabled:hover{background-color:$theme_button_background_color_hover;}
.seaocore_user_fb_contacts iframe{width:750px !important;}
/* Seaocore popup end here */
/**/
.seaocore_browse_category, .seaocore_sponsored_widget, ul.seaocore_item_day, .seaocore_like_users_block{
	+foreground;
	+rounded;
	padding:5px;
}
.seaocore_browse_category > li,
.seaocore_browse_category li .cat,
.seaocore_browse_category li .subcat > div.subcat_second,
.seaocore_browse_category li .subcat > div.subcat_third > a{
	border-color:$theme_foreground_border_color_light;
}
.seaocore_categories_box{
	border:1px solid $theme_foreground_border_color;
}
.seaocore_categories_box > li{border-color:$theme_form_border_color;}
.seaocore_categories_list .sub_cat a:hover, .seaocore_categories_list .sub_cat a.active{background-color:$theme_border_color;}
.seaocore_img_view_thumb ul li > a{border-color:$theme_photo_border_color;}
.seaocore_img_view_thumb ul li > a:hover{border-color:$theme_photo_border_color_hover;}
/*Pin It Button*/
.seaocore_pinit_button{float:right;margin-left:5px;padding:2px;}
.seaocore_pinit_button iframe{width:50px !important;}
.seaocore_socialshare_buttons{float:right;margin-left:5px;padding:5px;min-width:158px;}
.seaocore_viewmap_search_area{background-color:$theme_body_background_color;}
.seaocore_showhide_icon span{background-color:$theme_body_background_color;}
.seaocore_map{position:relative;}
.seaocore_map_info{-moz-user-select: none;background: -moz-linear-gradient(left center , rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 50px);background: -o-linear-gradient(left center , rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 50px);background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 50px);background: linear-gradient(left center , rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 50px);bottom:19px;color:#444444;direction: ltr;font-family:Arial,sans-serif;font-size:10px;height:19px;line-height: 19px;padding-bottom:0;padding-left:50px;padding-right:2px;	position:absolute;right:0;text-align:right;white-space:nowrap;z-index:0;}
.seaocore_map_info a{
	color:#444444 !important;
}
/*Left Side Tabs*/
.seaocore_db_tabs {
	width:200px;
	float:left;
	margin-right:20px;
}
[dir="rtl"] .seaocore_db_tabs{
	float:right;
	margin-left:20px;
	margin-right:0px;
}
.seaocore_db_tabs > ul {
	width:100%;
	float:left;
	margin:0 0 15px;
	padding:0;
}
.seaocore_db_tabs > ul li a {
	display:block;
	padding:5px 10px;
	font-weight:bold;
	text-decoration:none;
	color:$theme_buttontabs_font_color;
	background-color:$theme_buttontabs_background_color;
	margin:2px 0 0 0;
	outline:none;
	background-image:url(~/application/modules/Seaocore/externals/images/left_tabs_bg.png);
	background-repeat:repeat;
}
.seaocore_db_tabs > ul li a:hover {
	background-color:$theme_buttontabs_background_color_hover;
	text-decoration:none;
	color:$theme_buttontabs_font_color_hover;
}
.seaocore_db_tabs > ul li a.selected {
	background-color:$theme_buttontabs_background_color_active;
	color:$theme_buttontabs_font_color_active;
}
.seaocore_tbs_cont{
  overflow:hidden;
}
.seaocore_carousel_loader,
.seaocore_content_loader{
	background:url(~/application/modules/Seaocore/externals/images/loading.gif);
}
.seaocore_content_loader{
	height:32px;
	width:32px;
	margin:40px auto;
}

/*Replies Widget css starts here*/
.icon_replies{
  background-image: url(~/application/modules/Seaocore/externals/images/replies.png);
}
.seaocore_replies > ul > li + li{
  border-top: 1px solid $theme_border_medium_color;
}
.seaocore_replies .seaocore_replies_options{
  border-bottom: 1px solid $theme_border_medium_color;
}
div.seaocore_replies_comment_likes_tips{
  border: 1px solid $theme_border_medium_color;
  color: $theme_font_color_light;
}
.seaocore_dropdown_btn {
	border:1px solid $theme_border_medium_color;
}
.seaocore_replies_pulldown:hover .seaocore_dropdown_btn {
	background-color:$theme_pulldown_background_color_active;
	border:1px solid $theme_pulldown_background_color_active;
}
.seaocore_dropdown_menu_wrapper {
	border:2px solid $theme_pulldown_border_color;
}
.seaocore_dropdown_menu {
	background-color:$theme_pulldown_contents_background_color;
}
.seaocore_dropdown_menu > ul > li > a {
	color:$theme_font_color;
}
.seaocore_dropdown_menu > ul > li > a:hover,
.seaocore_dropdown_menu > ul > li.active:hover{
	background-color:$theme_pulldown_contents_list_background_color_hover;
	outline: medium none;
}
div.seaocore_replies_comment_likes_tip{
  border: 1px solid $theme_foreground_border_color;
  padding: 4px 7px;
  background-color: $theme_foreground_background_color;
  color: $theme_font_color_light;
  font-size: 0.9em;
}
/*Replies Widget css ends here*/
/*scroll to top button start here*/
.seaocore_up_button {
	background-color: #E5E5E5;
	border: 1px solid #D6D6D6;
	border-radius:5px;
	bottom: 50px;
	display: block;
	float: left;
	opacity:0.5;
  filter:alpha(opacity=50);
	outline: medium none;
	padding: 3px;
	position: fixed;
	right: 20px;
  -webkit-transition:opacity 2s;
  -moz-transition:opacity 2s;
  -o-transition:opacity 2s;
  -ms-transition:opacity 2s;
  transition:opacity 2s;
  z-index:4;
}
.seaocore_up_button:hover {
  opacity:1;
  filter:alpha(opacity=100);
  -webkit-transition:opacity .1s;
  -moz-transition:opacity .1s;
  -o-transition:opacity .1s;
  -ms-transition:opacity .1s;
  transition:opacity .1s;
}
.seaocore_up_button.Offscreen {
  opacity:0;
  filter:alpha(opacity=0);
}
.seaocore_up_button span{
	background: url(~/application/modules/Seaocore/externals/images/arrow-top.png) no-repeat scroll center center #7F7F7F;
	border: 1px solid #4F4F4F;
	border-radius:5px;
	float: left;
	padding: 20px;
}
/*scroll to top button end here*/

/*WYSIWYG Editor show Content body common css start here*/
.show_content_body ol {
	margin-left:30px;
}
.show_content_body ul {
	margin-left:30px;
	list-style-type:disc;
}
[dir="rtl"] .show_content_body ol,
[dir="rtl"] .show_content_body ul{
	 margin-left:0px;
	 margin-right:20px;
}
/*WYSIWYG Editor show Content body common css ends here*/
/*Common css classes for browse search widget starts here*/
.seaocore_searchform_criteria > form > div{
	+foreground;
	+rounded;
}
.seaocore_searchform_criteria > form > div span.overTxtLabel{
	color:$theme_font_color_light;
}
/*Common css classes for browse search widget ends here*/
