/* $Id: styles.css 2011-08-026 9:40:21Z SocialEngineAddOns Copyright 2010-2011 BigStep Technologies Pvt. Ltd. $ */
/* Sidebar Categories block start here*/
ul.seaocore_browse_category li {
	clear:both;
	overflow:hidden;
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding:3px 5px;
}
ul.seaocore_browse_category li + li {
	padding:0;
	border:none;
}
ul.seaocore_browse_category li .cat {
	padding:5px;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
ul.seaocore_browse_category li img.icon {
	float:left;
	margin-top:1px;
	margin-right:5px;
}
html[dir="rtl"] ul.seaocore_browse_category li img.icon{
	float:right;
	margin-left:5px;
	margin-right:0px;
}
ul.seaocore_browse_category li .subcat {
	clear:both;
	overflow:hidden;
	padding:0;
	margin-left:10px;
}
html[dir="rtl"] ul.seaocore_browse_category li .subcat{
	margin-right:0px;
	margin-left:0px;
}
ul.seaocore_browse_category li .subcat > div.subcat_second {
	clear:both;
	padding:5px;
	display:block;
	border-bottom-width:1px;
	border-bottom-style:solid;
	overflow:hidden;
}
ul.seaocore_browse_category li .subcat > div.subcat_second > a{
	float:left;
}
html[dir="rtl"] ul.seaocore_browse_category li .subcat > div.subcat_second > a{
	float:right;
}
ul.seaocore_browse_category li .subcat > div.subcat_third > a {
	clear:both;
	padding:5px;
	display:block;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
ul.seaocore_browse_category li .cat:hover, 
ul.seaocore_browse_category li .subcat > div.subcat_second:hover,
ul.seaocore_browse_category li .subcat > div.subcat_third > a:hover{
	background-image:url(../images/transparent-bg.png);
	text-decoration:none;
}
/* Sidebar Categories block end here*/
/*Seaocore categories box start here*/
.seaocore_categories_box {
	display:block;
	overflow:auto;
	margin-bottom:15px;
}
.seaocore_categories_box > li {
	padding:5px;
	border-width:5px;
	border-style:solid;
	overflow:auto;
}
.seaocore_categories_box > li > div{
	clear:both;
}
.seaocore_categories_list_col {
	margin:0 5px 0 0px;
	float:left;
	width:32%;
}
html[dir="rtl"] .seaocore_categories_list_col{
	margin:0 0 0 5px;
	float:right;
}
.seaocore_categories_list_row {
	margin:0 5px 0 0px;
	float:left;
	width:48%;
}
html[dir="rtl"] .seaocore_categories_list_row{
	margin:0 0 0 5px;
	float:right;
}
.seaocore_categories_box > li > div + div + div {
	margin-right:0px;
}
html[dir="rtl"] .seaocore_categories_box > li > div + div + div{
	margin-left:0px;
}
.seaocore_categories_list {
	float:left;
	margin:0 0 10px;
	width:100%;
}
html[dir="rtl"] .seaocore_categories_list{
	float:right;
	margin:0 10px 0 0;
}
.seaocore_categories_list h6 {
	font-size:13px;
	font-weight:bold;
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding:5px;
}
.seaocore_categories_list .sub_cat {
	clear:both;
}
.seaocore_categories_list .sub_cat a {
	display:block;
	clear:both;
	padding:5px 5px 5px 6px;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.seaocore_categories_list .sub_cat a:hover,
.seaocore_categories_list .sub_cat a.active {
	text-decoration:none;
	background-repeat:repeat;
	background-image:url(../images/transparent-bg.png);
}
.seaocore_categories_list .sub_cat a img {
	float:left;
	margin-right:6px;
	margin-top:3px;
}
html[dir="rtl"] .seaocore_categories_list .sub_cat a img {
	float:right;
	margin:3px 0 0 6px;
}
.seaocore_categories_list .sub_cat a span {
	display:table-cell;
}
.seaocore_categories_img{
	float:left;
	margin-right:5px;
	margin-top:5px;
}
html[dir="rtl"] .seaocore_categories_img{
	float:right;
	margin-left:5px;
	margin-right:0px;
}
.seaocore_categories_img a{
	border:none !important;
	padding:0px !important;
}
.seaocore_categories_img img{
	width:48px;
	height:48px;
}
.seaocore_categories_img + div{
	overflow:hidden;
	margin-top:5px;
}
/*Seaocore categories box end here*/
/*Seaocore search widget start here*/
.browsemembers_criteria {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding:7px;
}
.seaocore_search_criteria ul > li {
	margin-top:7px;
}
.seaocore_search_criteria ul > li select{
	max-width:150px;
}
.seaocore_search_criteria > ul > li #locationmiles {
	max-width:110px;
}
.seaocore_search_criteria ul > li {
	clear:both;
	font-size:0.8em;
	overflow:hidden;
}
.seaocore_search_criteria ul > li > span {
	display:block;
	margin-bottom:3px;
}
.seaocore_search_criteria .browse-separator-wrapper {
	display:none;
}
.browsemembers_criteria input#search, 
.browsemembers_criteria input#location {
	width:150px;
}
/*Seaocore search widget start here*/
/*Seaocore item of the day widget start here*/
ul.seaocore_item_day li {
	clear:both;
	overflow:hidden;
	padding:0;
	text-align:center
}
ul.seaocore_item_day li img {
	max-width:99%;
}
ul.seaocore_item_day li a{
	display:block;
}
ul.seaocore_item_day li a + a {
	font-weight:bold;
	margin-top:5px;
	clear:both;
}
/*Seaocore item of the day widget end here*/
/*Seaocore Images view*/
.seaocore_tbs_widget_filter_icon{
	float:right;
}
html[dir="rtl"] .seaocore_tbs_widget_filter_icon{
	float:left;
}
.seaocore_tbs_widget_tip{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	display: none;
	position: absolute;
	background: #222;
	opacity: .9;
	color: #fff;
	text-align: center;
	padding: 5px;
	width: 90px;
	font-size: .8em;
	margin-top: -25px;
	margin-left: -35px;
	font-weight:normal;
}
.seaocore_tbs_widget_filter_icon img.select_view {
	cursor:pointer;
	margin:0 3px;
}
.seaocore_tbs_widget_filter_icon:hover .seaocore_tbs_widget_tip{
	display:block;
}
.seaocore_tabs_loader_img{
	margin:100px 0;
}
.seaocore_img_view{
	clear:both;
	float:left;
	width:100%;
}
html[dir="rtl"] .seaocore_img_view{
	float:right;
}
.seaocore_img_view_list{
	overflow:hidden;
	width:100%;
	float:left;
	clear:both;
}
.seaocore_img_view_thumb{
	float: left;
	margin: 15px 19px;
	display:block;
	width:138px;
	height:145px;
	padding:0px;
	text-align:center;
}
html[dir="rtl"] .seaocore_img_view_thumb{
	float:right;
	text-align:center;
}
.seaocore_img_view_thumb ul li > a{
	padding:4px;
	border-width:1px; 
	border-style:solid;
	display:inline-block;
	vertical-align:bottom;
}
.seaocore_img_view_thumb ul li > a + a{
	border:none !important;
}
.seaocore_img_view_thumb ul li > a > span{
	width:132px;
	height:106px;
	background-position:center 50%;
	display:block;
	background-repeat:no-repeat;
	overflow:hidden;
	text-align:center;
}
.seaocore_img_view_thumb ul li > a > span img{
	border:none;
}
.seaocore_img_view_thumb ul,
.seaocore_img_view_thumb ul li{
	margin:0px;
	padding:0px;
}
/* css for tooltip start here */
.seaocore_thumbs_tooltip{ 
	position:absolute;
	z-index:100;
	margin-left:-64px; 
}
.seaocore_thumbs_tooltip_wrapper{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius:3px;
	display: block;
	background: #222;
	color: #fff;
	text-align: left;
	padding: 5px;
	width: 260px;
	font-size: .8em;
	margin:0;
	-moz-box-shadow:3px 3px 3px #bcbcbc;
	-webkit-box-shadow:3px 3px 3px #bcbcbc;
	box-shadow: 3px 3px 3px #bcbcbc;
	float:left;
}
.seaocore_thumbs_tooltip_inner{
	width:250px;
	float:left;
	background:#FFFFFF;
	padding:5px;
	position:relative;
}
.seaocore_thumbs_tooltip_arrow{
	position:absolute;
	width:250px;
	text-align:center;
	top:-18px;
}
.seaocore_thumbs_tooltip_arrow img{
	border:none;
	width:13px;
	height:9px;
	float:none;
}
.seaocore_thumbs_tooltip_content{
  overflow: hidden;
}
.seaocore_thumbs_tooltip_content .title{
	font-weight:bold;
	margin-bottom:1px;
	float:left;
	width:100%;
	color:#5F93B4;
}
html[dir="rtl"] .seaocore_thumbs_tooltip_content .title{
	float:right;
}
.seaocore_thumbs_tooltip_content .title > a{
	color:#5F93B4;
	max-width:200px;
	float:left;
}
html[dir="rtl"] .seaocore_thumbs_tooltip_content .title > a{
	float:right;
}
.seaocore_thumbs_tooltip_content .title a:hover{
	color:#4e81a1;
}
.seaocore_thumbs_tooltip_content .title span{
	margin-left:5px;
	margin-top:3px;
	float:right;
}
html[dir="rtl"] .seaocore_thumbs_tooltip_content .title span{
	float:left;
}
.recipes_tooltip_info_stat{
  font-size: .8em;
  color:#999;
}
.recipes_tooltip_info_stat a{
	color:#4587C0;
}
.recipes_tooltip_info_stat a:hover{
	color:#246195;
}
/* css for tooltip end here */
/* css for sponsored widget start here */
.seaocore_sponsored_carousel{
	position:relative;
}
.seaocore_sponsored_carousel .seaocore_sponsored_carousel_forward, 
.seaocore_sponsored_carousel .seaocore_sponsored_carousel_back, 
.seaocore_sponsored_carousel .seaocore_sponsored_carousel_forward_dis, 
.seaocore_sponsored_carousel .seaocore_sponsored_carousel_back_dis {
	display:block;
	cursor:pointer;
	width:100%;
	clear:both;
	height:17px;
	bottom:0px;
	margin:0 auto;
	text-align:center;
}
.seaocore_sponsored_carousel .SlideItMoo_back {
	left:5px;
}
.seaocore_sponsored_carousel_inner {
	position:relative;
	overflow:hidden;
	margin:10px auto 10px;
}
.seaocore_sponsored_carousel_item_list {
	position:relative;
}
.seaocore_sponsored_carousel_items{
	position:relative;
	font-size:11px;
	text-align:center;
	color:#FFFFFF;
	height:60px;
	clear:both;
	overflow:hidden;
	padding:0 5px;
}
.seaocore_sponsored_carousel_items_thumb {
	float:left;
	display:block;
	vertical-align:top;
}
html[dir="rtl"] .seaocore_sponsored_carousel_items_thumb {
	float:right;
}
.seaocore_sponsored_carousel_items_info {
	padding:0px 0px 0px 6px;
	overflow:hidden;
}
html[dir="rtl"] .seaocore_sponsored_carousel_items_info{
	padding:0px 6px 0px 0;
}
.seaocore_sponsored_carousel_items_title {
	font-weight:bold;
	overflow:hidden;
}
.seaocore_sponsored_carousel_items_stat {
	font-size:.8em;
	margin-top:3px;
}
/* css for sponsored widget end here */
/* Browse Pages Bredacrums start here*/
.seaocore_breadcrumbs{
	overflow:hidden;
	margin-bottom:10px;
	padding:5px;
	border-bottom-width:1px;
	line-height:22px;
}
.seaocore_breadcrumbs .brd-sep{
	padding:0 5px;
} 
.seaocore_breadcrumbs_txt{
	overflow:hidden;
}
.seaocore_breadcrumbs .brd-r div{
	font-size:11px;
}
.seaocore_tag_search a{
	font-weight:bold;
}
/* Browse Pages Bredacrums end here*/

/*Map*/
.seaocore_viewmap_content_main{
	width:900px;
	float:left;
	margin:10px 0 0 15px;
}
.seaocore_viewmap_content{
	width:100%;
	height:500px;
	position:relative;
	clear:both;
	border:1px solid #999;
}
.seaocore_viewmap_map{
	width:100%;
	height:100%;
}
.seaocore_viewmap_search_area{
	border-left:1px solid #999;
	position:absolute;
	right:0px;
	top:0;
	bottom:30px;
	height:480px !important;
	padding:10px;
	width:280px !important;
}
.seaocore_viewmap_search_area ul.form-errors{
	width:auto !important;
}
.seaocore_viewmap_search_options{
	margin-bottom:10px;
	overflow:hidden;
}
.seaocore_viewmap_search_options td{
	padding:3px;
}
.seaocore_viewmap_search_options td button{
	padding:5px;
	font-size:12px;
}
.seaocore_viewmap_search_options input[type="text"]{
	width:240px !important;
}
#panel-content-area .verticalScroll{
	right:0 !important;
	position:absolute !important;
}
.seaocore_viewmap_head{
	padding:0 0 5px;
	font-size:17px;
}
.seaocore_viewmap_head img{
	margin:-5px -10px 0 0;
	cursor:pointer;
}
.seaocore_showhide_icon{
	position:absolute;
	top:0px;
	right:0px;
	z-index:100;
}
.seaocore_showhide_icon span{
	border-width:1px 0 1px 1px;
	border-style:solid;
	border-color:#999;
	cursor:pointer;
	padding:3px 5px;
	right:-1px;
	position:absolute;
	top:240px;
}
.seaocore_showhide_icon span#collapse_hide{
	right:300px;
}
/*Black Tip*/
.seaocore_map_tip{
	position:relative;
	outline:none;
	text-decoration:none;
}
.seaocore_map_tip:hover{
	text-decoration:none;
}
.seaocore_map_tip_content{
	border-radius:3px;
	display:none;
	position:absolute;
	background:#222;
	opacity:.9;
	color:#fff;
	text-align:center;
	padding:5px;
	font-size:.8em;
	font-weight:normal;
	left:-59px;
	top:-32px;
	width:120px;
}
.seaocore_map_tip:hover .seaocore_map_tip_content{
	display: block;
}
/*Follow Button*/
.layout_seaocore_seaocore_follow {
	float: left;
	margin: 0 0 5px;
}
.seaocore_follower_count{
	line-height: 32px;
	font-size: 11px;
	margin-left: 10px;
}
.seaocore_follow_button{
	background-color: #FFFFFF;
	background-image: url(../images/follow/button_bg.png) !important;
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 1px solid #CECECE;
	border-radius: 3px 3px 3px 3px;
	clear: both;
	float: left;
	font-size: 12px;
	font-weight: bold;
	outline: medium none;
	padding: 7px;
}
.seaocore_follow_button:hover{
	text-decoration:none;
	background-image:url(../images/follow/button_hover_bg.png) !important;
}
.seaocore_follow_button_active .seaocore_follow_button_following, 
.seaocore_follow_button_active:hover .seaocore_follow_button_unfollow{
	width:80px;
	text-align:center;
}
.seaocore_follow_button_active .seaocore_follow_button_following i,
.seaocore_follow_button_active .seaocore_follow_button_following i + span, 
.seaocore_follow_button_active:hover .seaocore_follow_button_unfollow i,
.seaocore_follow_button_active:hover .seaocore_follow_button_unfollow i + span{
	display:inline-block;
	float:none;
	vertical-align:top;
}
.seaocore_follow_button_active .seaocore_follow_button_following{
	display:block;
}
.seaocore_follow_button_active .seaocore_follow_button_unfollow{
	display:none;
}
.seaocore_follow_button_active:hover .seaocore_follow_button_following{
	display:none;
}
.seaocore_follow_button_active:hover .seaocore_follow_button_unfollow{
	display:block;
}
.seaocore_follow_button i{
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	height:13px;
	margin-right:5px;
	width:13px;
}
.seaocore_follow_button i.follow{
  background-image:url(../images/follow/follow.png);
}
.seaocore_follow_button i.following{
  background-image:url(../images/follow/following.png);
}
.seaocore_follow_button i.unfollow{
  background-image:url(../images/follow/unfollow.png);
}
.seaocore_follow_button i + span{
	float: left;
}
/*People Like Widget*/
.layout_seaocore_people_like{
	clear:both;
	margin-bottom:15px;
}
.seaocore_like_users_block{
	overflow:hidden;
}
.seaocore_like_users_block_links {
	overflow:auto;
	padding:0 3px;
	font-weight:bold;
}
.seaocore_like_users_block_links a {
	margin:2px 0;
	font-size:11px;
}
ul.seaocore_like_users_block > li {
	clear: both;
	overflow: hidden;
	padding: 0px !important;
}
ul.seaocore_like_users_block .likes_member_seaocore {
	float:left;
	width:48px;
	padding:5px;
	overflow:hidden;
}
ul.seaocore_like_users_block .likes_member_seaocore .likes_member_thumb {
	float: left;
	display: block;
	width: 48px;
	height: 48px;
	margin-bottom:3px;
}
ul.seaocore_like_users_block .likes_member_seaocore .likes_member_name {
	font-size:11px;
	float:left;
	text-align:center;
	width:100%;
}
[dir="rtl"] ul.seaocore_like_users_block .likes_member_seaocore,
[dir="rtl"] ul.seaocore_like_users_block .likes_member_seaocore .likes_member_name{
	float:right;
}
/*Common css classes for browse search widget starts here*/
.seaocore_searchform_criteria{
  margin-bottom:15px;
}
.seaocore_searchform_criteria .global_form_box, 
.seaocore_searchform_criteria #filter_form{
  padding:0px !important;
  border-radius:3px;
}
.seaocore_searchform_criteria .form-elements,
.seaocore_searchform_criteria > form > div{
  padding:10px !important;
}
.seaocore_searchform_criteria > form.global_form_box > div{
  padding:0px !important;
  border:none;
}
.seaocore_searchform_criteria .global_form_box #recommend-label{
  display:none;
}
.seaocore_searchform_criteria input[type="text"], .seaocore_searchform_criteria select {
  max-width:150px;
}
.seaocore_searchform_criteria ul > li,
.seaocore_searchform_criteria .form-wrapper {
  margin-bottom:7px;
  margin-top:0px !important;
  overflow:hidden;
}
.seaocore_searchform_criteria ul > li{
  clear:both;
  font-size:11px;
  overflow:hidden;
}
.seaocore_searchform_criteria ul > li > span,
.seaocore_searchformcriteria #filter_form label{
  display:block;
  margin-bottom:3px;
  font-size:11px;
}
.seaocore_searchform_criteria .integer_field .form-element {
  float:left;
  overflow:hidden;
}
[dir="rtl"] .seaocore_searchform_criteria .integer_field .form-element{
  float:right;
}
.seaocore_searchform_criteria .integer_field label {
  display:block;
  margin-bottom:2px;
}
.seaocore_searchform_criteria .integer_field .form-element + .form-element {
  margin-left:5px;
}
[dir="rtl"] .seaocore_searchform_criteria .integer_field .form-element + .form-element {
  margin-right:5px;
  margin-left:0px;
}
.seaocore_searchform_criteria #integer-wrapper > label{
  display:block;
  margin-bottom:3px;
}
.seaocore_searchform_criteria #integer-wrapper .form-element{
  display:inline;
}
.seaocore_searchform_criteria #integer-wrapper .form-element input[type="text"] {
  width:50px;
}
.seaocore_searchform_criteria > ul > li > ul > li {
  margin-top:3px;
  padding-top:3px;
}
.seaocore_searchform_criteria > ul > li #locationmiles {
  max-width:110px;
}
.seaocore_searchform_criteria .browse-separator-wrapper{
  display:none;
}
.seaocore_searchform_criteria .form-wrapper button{
  font-size:11px;
}
/*Searchbox horizontal*/
.seaocore_searchform_criteria_horizontal ul > li {
	display: inline-block;
	font-size: 11px;
	margin:5px 15px 10px 0;
	overflow: inherit !important;
	vertical-align: bottom;
}
.seaocore_searchform_criteria_horizontal ul > li .form-options-wrapper li input[type="checkbox"] + label, 
.seaocore_searchform_criteria_horizontal ul > li .form-options-wrapper li input[type="radio"] + label,
.seaocore_searchform_criteria_horizontal ul > li #has_photo-label{
	display:inline;
}
.seaocore_searchform_criteria_horizontal ul > li .form-options-wrapper li{
	display: inline-block;
	margin: 0 2px 3px;
}
.seaocore_searchform_criteria_horizontal ul > li #has_photo,
.seaocore_searchform_criteria_horizontal ul > li #has_photo-label,
.seaocore_searchform_criteria_horizontal ul > li #has_photo-label label{
	float:left;
}
/*Common css classes for browse search widget ends here*/